.background-image {
    background-image: url("../../../assets/images/home.jpeg");
    background-size: 100% 100% ;
    width: 100%;
    height: 822px;
}

.text {
    padding: 13% 0.1%;
    caret-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: left; 
    align-items:flex-start;
}

.utility-buttons{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: right; 
}

.signup-btn > *{
    width: 10vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    font-size: 30px;
    padding: 2% 2%;
    border-radius: 20px;
    cursor: pointer;
    background-color: #003b73;
    color: white;  
}

.signin-btn > *{
    width: 10vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 2% 2%;
    border-radius: 20px;
    cursor: pointer;
    background-color: #003b73;
    color: white;  
}
