<div class="background-image">
<form class="container">

  <div class="utility-buttons">
    <div class="signup-btn">
      <button id="btn-signup" routerLink="/signup" mat-raised-button color="primary" type="submit"><b>
        Sign Up</b>
      </button>
    </div>

    <div class="signin-btn">
        <button  id="btn-login" routerLink="/login" mat-raised-button color="primary" type="submit" ><b>
          Sign In</b>
        </button>
    </div> 
  </div>

  <div class="text">
    <h1 style="font-size:550%; line-height: 4vw; font-weight:500;" >Stay Positive & <br> Work Productively.<br></h1>
    <span style="font-size:200%; line-height: 2vw;">Track and analyse your mood changes and <br> boost the efficiency by increasing focus.</span>
  </div>

  </form>
</div>
