<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><b>COMRADE</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        
          <li class="nav-item">
            <a routerLink="/home" class="nav-link active" aria-current="page" href="#" >Home</a>
          </li>
        

        
          <li class="nav-item">
            <a routerLink="/zone" class="nav-link" href="#" >Zone</a>
          </li>
       

        

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              About
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">An application that will
                focus on bringing the various patterns  <br> of mood swings to the users attention and
                will <br> provide an assistance to combat procrastination.</a></li>
            </ul>
          </li>

            
            <div class="nav-navbar-nav-navbar-right">
               <a href="logout.php"  routerLink="/home" class="navbar-brand">Sign Out</a>
            </div>
        

            <!-- <button type="button" class="btn btn-default" aria-label="Left Align">
              <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
            </button> -->
          
<!-- 
          <form class="d-flex">
            <div class="card" style="width: 75rem;">
              <p-avatar
                icon="user"
                size="small"
                [style]="{'background-color': 'white', 'color': '#ffffff'}"
                shape="circle">
                <img src="../assets/images/user.png" >
          </p-avatar>  
          </div>
        </form> -->


        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
  


  

 
 

