<div class="background-image">
    <div class="text">
    <p><b>MENU</b></p>
    </div>
  <div class="utility-buttons">
    <div class="mt">
      <button  id="btn-moodtracker"  routerLink="/moodtracker"  mat-raised-button color="primary" type="submit"><b>
        Mood  <br> Tracker</b>
      </button>
    </div>
    <div class="pb">
      <button id="btn-prodbooster"  routerLink="/pbmenu" mat-raised-button color="primary" type="submit"><b>
        Productivity <br> Booster</b>
      </button>
    </div>
  </div>
</div>