.background-image {
    background-image: url("../../../assets/images/Journaling2.jpeg");
    background-size: 100% 100% ;
    width: 100%;
    height: 822px;
}


.utility-buttons{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.mt > *{
    width: 35vh;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 2% 5%;
    border-radius: 10px;
    cursor: pointer;
    background-color: #003b73;
    color: white; 
}
.jo > *{
    width: 35vh;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 2% 5%;
    border-radius: 10px;
    cursor: pointer;
    background-color: #003b73;
    color: white; 
}
.chart > *{
    width: 35vh;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 2% 5%;
    border-radius: 10px;
    cursor: pointer;
    background-color: #003b73;
    color: white;  
}


.notepad-container{
    position: relative;
    bottom: -10vh;
    left: 130vh;
    height: 50vh;
    width: 30vw;
    word-wrap: break-word;
}
.notepad-background{
    background-color: rgb(85, 138, 199);
    height: 50vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.notepad-editor{
    position: absolute;
    top: 0.2vh;
    left: 0.2vh;
    height: 50vh;
    width: 30vw;
    font-size: 150%;
    line-height: 1.7;
    border: solid black thin;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.line{
    border-bottom: solid black thin;
}

.s-wrapper{
    padding-left: 1780px;
}

.form-container> * {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    caret-color: transparent;
    width: 120px;
    height: 60px;
    border-radius: 10px;
    background-color:  lightcyan;
    font-size: 20px;
    text-align: center;
}


// .calender {
//     padding: 5% 86.2%;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-evenly;
//     align-items: baseline;
// }
// .cal{
//     width: 50vw ;
// }
.style{
    padding-left: 10px;
}


.text{
    width:-10px;
    height:50%;
    padding-top: 200px;
    padding-left: 800px;
}


