<div class="background-image">
    <div class="text">
    <p><b>PRODUCTIVITY BOOSTER</b></p>
    </div>
  <div class="utility-buttons">
    <div class="adjust-to">
      <div class="to">
        <button  id="btn-moodtracker" routerLink="/todo"  mat-raised-button color="primary" type="submit"><b>
          To-Do List  </b>
        </button>
      </div>
    </div>
    <div class="adjust-po">
      <div class="po">
        <button id="btn-prodbooster" routerLink="/timer"  mat-raised-button color="primary" type="submit"><b>
          Pomodoro</b>
        </button>
      </div>
    </div>
  </div>
</div>
